    <div id="hdr">
      <a href="/">
        <img class="lgo" src="/images/logo.png" alt="mycreativity.nl"></a>
        <div id="scl">
          <div class="fb-like" data-href="http://www.mycreativity.nl" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="tahoma"></div>
        </div>
    </div>

    <div id="ftr">
      <p>mycreativity.nl - all about my creations | copyright &copy; 2009-{{ site.time | date: '%Y' }} mycreativity</p>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{{ "/scripts/app.js" | absolute_url }}"></script>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-714262-3");
    pageTracker._trackPageview();
  </script>
</body>
</html>
