<!DOCTYPE html>
<html class="no-js" lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Jasper Steenweg | My Creativity 2012">
    <meta name="copyright" content="Copyright My Creativity - Creative Internet Development">
    <meta name="robots" content="follow,index">
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="canonical" href="http://www.mycreativity.nl">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="index" href="http://www.mycreativity.nl">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CArapey" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "/css/code-highlight-native.css" | absolute_url }}">
  </head>
  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1&appId=285798998098782";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="con">